body{
    background-color: deeppink;
    text-align: center;
    color: aliceblue;
    
}
p{
    color: black;
    font-size: 20px;
}
#lista{
    background-color: blueviolet;
    text-align: center;
    font-size: 18px;
    color: darkgrey;
    border: dotted pink 2px;
}